@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    font-weight: lighter;
}
header{
    background-color: #676767;
    margin-bottom: 10px;
    padding: 20px 0;
    /* Cabeçalho */
}

header .header-flex{
    display: flex;
    justify-content: space-between;
    /* Esse separa os elementos dentro do head, nesse caso a logo e o nav */
}

header h1{
    font-weight: 9000;
    color: white;
}

header h1 #logoux{
    font-weight: 600;  
    font-style: italic  ;
}

header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header nav a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: grey;    
    background-color: #edeced;
}

.container-grid{
    width: 80vw;
    margin: 0 auto;
    max-width: 1200px;
      /*Aqui regula quanto o site será afetado pelo zoom pessoal do usuário */
    min-width: 992px;
    /* para dimensionar o layout grid da pagina, limitar a aproximação das bordas, os famosos 10% de cada lado */    
}

main .colunas-flex{
    display: flex;
    justify-content: space-between;
}

main .coluna1{
    width: 75%
}

main .coluna1 p{
    line-height: 20px;
}

#lapis {
    width: 100%;
    display: block;
}

main .margin{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 7px;
    /* Margem entre os textos da section */
}

main .margintopbottom{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    /* Outra margem entre os textos de cima e de baixo */
}
main section{
    margin-left: 20px;
}
.textos{
    background-color: white;
    /* Esse grupo foi específico para definir a cor de fundo branco  de cada coluna e cada article */
}
aside{
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
aside .textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;

    /* Prestar atenção aqui, deu problema do nada mas consegui resolver */
}
aside article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

}
aside .textos h3{
    border-bottom: 0.5px solid #676767;

    width: 300px;
    text-align: center;
    /* Aqui eu  coloquei o texto alinhado para o centro de seu espaço ocupado, para seu tamanho poder prencher toda a box que ele pertence */

    margin-bottom: 20px;
    /* Espacinho para distanciar o subtítulo dos articles do resto do seu conteúdo */
}
aside article #inputbusca{
    width: 185px;
    height: 30px;
}
aside article #input{
    display: flex;
    gap: 20px;

    margin-bottom: 15px;

}
aside article #input #searchicon{
    height: 30px;
}
aside article #postanteriores{
    padding-left: 2px;
    padding-bottom: 30px;
}
aside .textos > p {
    text-align: center;
}
aside .textos #inputinscreva{
    margin: 20px 0px;

    width: 185px;
    height: 30px;
}
footer{
    color: white;
    background-color: #676767;
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    padding: 20px 0px;
}

#example{
    padding: 20px 0px 20px 0px;
    /* Padding apenas segue o sentido relógio top / right / bottom / left */
    padding: 20px 0px;
    /* top/bottom right/left*/
    padding: 20px;
    /* Padding com apenas um valor é a mesma distancia para top bottom right left */
    /* ****Rodapé****
    Nele especifiquei que os elementos devem estar colados no fundo e uma margem superior que separa o rodapé da section e dos articles */
}   