@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: grey;    

}
/* para dimensionar o layout grid da pagina, limitar a aproximação das bordas */
.container-grid{
    width: 80%;
    margin: 0 auto;

}

/* ****Cabeçalho**** */
header{
    background-color: grey;

}
header .header-flex{
    display: flex;
    justify-content: space-between;
}

header h1{
    font-weight: 300;
    color: white;
    border: 1px solid red;

}

header h1 #logoux{
    font-weight: 600;  
    font-style: italic  ;

}

header nav{
    border: 1px solid red;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header nav a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

h2{
    border: 1px solid red;
    
}
main .colunas-flex{
    display: flex;
    justify-content: space-between;
}
main .coluna1{
    width: 75%
}
#lapis {
    width: 100%;
}
main .coluna2{
    width: 20%;
}
main .margin{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 7px;
}
main .margintopbottom{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
}
aside{
    display: flex;
    justify-content: space-between;
}
/* ****Rodapé**** */
footer{
    color: white;
    background-color: grey;

}   